* { margin: 0px;
  padding: 0px;
}

body{
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    background-image: url(/img/Bild\ på\ matta.jpg);
    background-size: cover;
}

body .hidden-scrolling{
    overflow-y: hidden;
    
}

*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: auto;
}


ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

li{
    top: 0px;
}

/*Header*/
.header{
    position: absolute;
    width: 100%;
    left: 0;
    top: -1%;
    z-index: 99;
    padding: 15px;
}

.header-main{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-radius: 4px;

}

.header .logo{
    padding: 0 15px;
}

.header .logo a{
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 600;
}

.loggan{
    width: 125px;
}

.header .nav-menu{
    padding: 0 15px;
}

.header .menu > .menu-item{
    display: inline-block;
    margin-left: 30px;
    position: relative;
}

.header .menu > .menu-item > a{
    display: block;
    padding: 12px 0;
    font-size: 16px;
    color: black;
    text-transform: capitalize;
    font-weight: 600;
    transition: all 0.3s ease;
}

.header .menu > .menu-item > a .plus{
    display: inline-block;
    height: 12px;
    width: 12px;
    position: relative;
    margin-left: 5px;
    pointer-events: none;
}

.header .menu > .menu-item > a .plus::before,
.header .menu > .menu-item > a .plus::after{
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    background-color: black;
    height: 2px;
    width: 100%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}
.header .menu > .menu-item:hover > a .plus::before,
.header .menu > .menu-item:hover > a .plus::after{
    background-color: #2277bb;

}
.header .menu > .menu-item > a .plus::after{
    transform: translate(-50%, -50%)rotate(-90deg);
}



.header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.header .menu > .menu-item:hover > a{
    color: #2277bb;
}

.header .menu > .menu-item > .sub-menu{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 200px;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: white;
    padding: 10px 0;
    border-top: 3px solid rgba(34,119,187,0.90);
    transform: translateY(10px);
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

/*Responsive for Desktop*/

@media(min-width:992px){
    
    body{
      margin: 0;
      padding: 0;
    }

    h5{
      position: absolute;
      top: -10%;
      left: 45%;
    }

    .historik{
      background-color: white;
      position: fixed;
      top: 20%;
      left: 18.5%;
      height: 400vh;
      width: 61vw;
      margin: 20px;
      border-radius: 10px;
    }

    .historik p{
      margin: 10px;
      font-weight: bold;
      font-family: 'Times New Roman';
    }

    .kontakta_oss{
      position: absolute;
      top: 340%;
      left: 0%;
      text-align: start;
      font-size: larger;
      margin: 20px;
      padding: 30px;
      height: 150px;
      width: 1850px;
      border-radius: 10px;
      background-color: grey;
    }

    .kontakta_oss p{
      color: black;
    }

    .namnet-till-brottarskolan{
      display: flex;
      justify-content: center;
    }

    .brottarskolan{
      position: absolute;
      top: 40%;
      left: 40%;
      background-color: white;
      width: 400px;
      height: 300px;
      border-radius: 10px;
      font-size: 40px;
      font-weight: bolder;
      margin: 20px;
    }
    
    .dagar-för-brottarskolan{
      margin: 5px;
      position: absolute;
      top: 13%;
      left: 20%;
    }

    .tider-för-brottarskolan{
      position: absolute;
      top: 15%;
      left: 60%;
    }

    .notering{
      position: absolute;
      top: 100%;
      left: 35%;
      width: 500px;
      padding: 10px;
      background-color: white;
      border-radius: 10px;
      font-size: 20px;
      text-align: center;
      font-weight: bold;
    }

    h2{
      color: white;
      position: absolute;
      font-size: 50px;
      top: 33%;
      left: 40%;
    }    

    .card-img{
      position: absolute;
      top: 225%;
      left: 50%;
      transform: translate(-50%, 50%);
      height: 800px;
      border-radius: 15px;
    }

    .bildtext{
      position: absolute;
      top: 352%;
      left: 50%;
      transform: translate(-50%, 50%);
      background-color: white;
      padding: 10px;
      border-radius: 15px;
      width: auto;
      height: auto;
    }

    .text1{
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, 50%);
      background-color: white;
      border-radius: 5px;
      width: 200px;
    }
    
    .card-img1{
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, 50%);
      height: 350px;
      border-radius: 15px;
    }
    
    .bildtext1{
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, 50%);
      background-color: white;
      padding: 5px;
      border-radius: 5px;
      width: 525px;
    }
    
    
    .text2{
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, 50%);
      background-color: white;
      border-radius: 5px;
      width: 200px; 
    }
    
    .card-img2{
      position: absolute;
      left: 50%;
      transform: translate(-50%, 50%);
      height: 800px;
      border-radius: 15px;
    }
    
    .bildtext2{
      position: absolute;
      top: 128%;
      left: 50%;
      transform: translate(-50%, 50%);
      background-color: white;
      padding: 5px;
      border-radius: 15px;
      height: auto;
      width: auto;
    }
    
    
    .text3{
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, 50%);
      background-color: white;
      border-radius: 5px;
      width: 200px;
    }
    
    .card-img3{
      position: absolute;
      top: 120%;
      left: 50%;
      transform: translate(-50%, 50%);
      height: 800px;
      border-radius: 15px;
    }
    
    .bildtext3{
      position: absolute;
      top: 248%;
      left: 50%;
      transform: translate(-50%, 50%);
      background-color: white;
      padding: 5px;
      border-radius: 15px;
      width: auto;
      height: auto;
    }
    
    .läs-mer{
      background-color: transparent;
      text-decoration: none;
      color: #2f53a7;
    }

    .vrångö{
      position: absolute;
      top: 51%;
      right: 2%;
      height: 150px;
      width: auto;
      border-radius: 10px;
      }
    
    .spw{
      position: absolute;
      top: 70%;
      right: 1.9%;
      height: 200px;
      width: 350px;
      border-radius: 10px;
      }
    
    .grip{
      position: absolute;
      top: 95%;
      right: 1.9%;
      height: 200px;
      width: 350px;
      border-radius: 10px;
      }
    
    .sponsor{
      position: absolute;
      top: 120%;
      right: 1.9%;
      height: 200px;
      width: 350px;
      border-radius: 10px;
      }

    .ny_sponsor{
      position: absolute;
      top: 145%;
      right: 2%;
      height: 200px;
      width: 350px;
      border-radius: 10px;
      background-color: white;
      }

    .våra-sponsorer_1{
      color: whitesmoke;
      position: absolute;
      top: 45%;
      left: 82%;
      font-size: 30px;
      font-weight: bold;
      }

    .våra-sponsorer{
      color: whitesmoke;
      position: absolute;
      top: 48%;
      left: 85%;
      font-size: 30px;
      font-weight: bold;
    }

    .våra-sponsorer_2{
      position: absolute;
      top: 40%;
      left: 83%;
      color: white;
      font-weight: bolder;
      font-size: 25px;
    }

    .idag{
      padding: 20px;
    }

    .slider{
      display: none;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    .tävlingsgruppens{
      background-color: green;
    }
    
    .mellangruppens{
      background-color: green;
    }

    .brottarskolans{
      background-color: green;
    }

      
    th, td {
      border: 1px solid #ddd;
      text-align: center;
      padding: 8px;
    }
        
    
    .schemat{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh;
      padding: 20px;
      width: 50vw;
      position: relative;
      left: 25%;
    }
    
    table {
      border-collapse: collapse;
      width: 100%;
    }
      
      th, td {
        border: 1px solid #ddd;
        text-align: center;
        padding: 8px;
      }
      
      th{
        background-color: white;
      }
    
      td{
        color: white;
        font-size: larger;
        font-weight: bold;
      }

      .body-for-contact-card{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .contact-info{
        display: flex;
        width: 100%;
        max-width: 1200px;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
      }

      .kort{
        background-color: #333333;
        padding: 0 20px;
        margin: 0 20px;
        width: calc(33% - 20px);
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: purple;
      }

      .card-icon{
        font-size: 28px;
        background: orange;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px !important;
        border-radius: 50%;
        transition:  0.3s linear;
      }

      .kort:hover .card-icon{
        background: none;
        color: greenyellow;
        transform: scale(1.6);
      }

      .kort p{
        margin-top: 20px;
        font-weight: 300;
        letter-spacing: 2px;
        max-height: 0;
        opacity: 0;
        transition: 0.3s linear;
        color: white;
      }

      .kort:hover p{
        max-height: 40px;
        opacity: 1;
      }

      .iconen-sbf{
        width: 50vw;
        position: absolute;
        top: 40%;
        left: 26%;
        border-radius: 50px;
      }

      .info{
        position: absolute;
        top: 100%;
        left: 28.5%;
        font-size: 40px;
        font-family: 'Times New Roman';
        color: white;
      }

      .idag{
        margin: 20px;
        padding: 12px;
      }

      /*Frank Andersson på desktop*/
      .bild-på-frank{
        width: 300px;
        height: 300px;
        padding: 10px;
        border-radius: 20px;
      }

      .frank-namn{
        font-size: 20px;
        position: absolute;
        left: 5%;
        justify-content: center;
      }
      .meritlista-frank{
        position: absolute;
        left: 25%;
        top: 8.2%;
        font-size: 28px;
      }

      .bronsmedalj-frank{
        width: 40px;
        position: absolute;
        left: 26%;
        top: 10.5%;
      }

      .guldmedalj-frank1{
        width: 40px;
        position: absolute;
        top: 13%;
        left: 26%;
      }

      .guldmedalj-frank2{
        width: 40px;
        position: absolute;
        top: 13%;
        left: 30%;
      }

      .guldmedalj-frank3{
        width: 40px;
        position: absolute;
        top: 13%;
        left: 34%;
      }

      .guldmedalj-frank4{
        width: 40px;
        position: absolute;
        top: 15.25%;
        left: 26%;
      }

      .guldmedalj-frank5{
        width: 40px;
        position: absolute;
        top: 15.25%;
        left: 30%;
      }

      .guldmedalj-frank6{
        width: 40px;
        position: absolute;
        top: 15.25%;
        left: 34%;
      }

      .guldmedalj-frank7{
        width: 40px;
        position: absolute;
        top: 15.25%;
        left: 38%;
      }

      .silvermedalj-frank1{
        width: 40px;
        position: absolute;
        top: 13%;
        left: 38%;
      }

      .silvermedalj-frank2{
        width: 40px;
        position: absolute;
        top: 13%;
        left: 42%;
      }

      .silvermedalj-frank3{
        width: 40px;
        position: absolute;
        top: 15.25%;
        left: 42%;
      }

      .silvermedalj-frank4{
        width: 40px;
        position: absolute;
        top: 15.25%;
        left: 46%;
      }

      .silvermedalj-frank5{
        width: 40px;
        position: absolute;
        top: 15.25%;
        left: 50%;
      }

      .frank-os{
        position: absolute;
        left: 25%;
        top: 9.5%;
      }

      .frank-vm{
        position: absolute;
        left: 25%;
        top: 12%;
      }

      .frank-em{
        position: absolute;
        left: 25%;
        top: 14.25%;
      }
      /*=======================================*/
      /*Larry Grip*/

      .body-for-person1{
        background-color: white;
        width: 12vw;
        height: 300px;
        position: absolute;
        text-align: start;
        font-weight: bold;
        padding: 10px;
        top: 50%;
        left: 30%;
        margin: 10px;
        border-radius: 10px;
      }

      .larry{
        width: 200px;
        height: 230px;
      }

      .egenskaper1{
        color: #777;
        font-family:'Times New Roman', Times, serif;
      }

      /*========================================*/
      /*Namiq Binnatov*/
      .body-for-person4{
        background-color: white;
        width: 12vw;
        height: 300px;
        position: absolute;
        text-align: start;
        font-weight: bold;
        padding: 10px;
        top: 50%;
        left: 56%;
        margin: 10px;
        border-radius: 10px;
      }

      .namiq{
        height: 240px;
        width: 230px;
        position: absolute;
        right: 0.5%;
      }

      .egenskaper4{
        color: #777;
      }

      /*===================================*/
      /*Dillo Abdi*/
      .body-for-person3{
        background-color: white;
        width: 12vw;
        height: 300px;
        position: absolute;
        text-align: start;
        font-weight: bold;
        padding: 10px;
        top: 50%;
        left: 56%;
        margin: 10px;
        border-radius: 10px;
      }

      .dillo{
        height: 240px;
        width: 220px;
        position: absolute;
        left: 2.5%;
      }

      .egenskaper3{
        color: #777;
      }
      /*=========================================*/

      /*Patrik Lilja*/
      .body-for-person2{
        background-color: white;
        width: 12vw;
        height: 300px;
        position: absolute;
        text-align: start;
        font-weight: bold;
        padding: 10px;
        top: 50%;
        left: 30%;
        margin: 10px;
        border-radius: 10px;
      }

      .patrik{
        height: 240px;
        width: 230px;
        position: absolute;
        right: 0.5%;
      }

      .egenskaper2{
        color: #777;
      }

      /*==========================================*/
      /*Sponsorerna till om föreningen*/
      .vrångö_3{
        position: absolute;
        top: 51%;
        right: 0.25%;
        height: 150px;
        width: auto;
        border-radius: 10px;
        }
      
      .spw_3{
        position: absolute;
        top: 70%;
        right:0.25%;
        height: 200px;
        width: 350px;
        border-radius: 10px;
        }
      
      .grip_3{
        position: absolute;
        top: 95%;
        right:0.25%;
        height: 200px;
        width: 350px;
        border-radius: 10px;
        }
      
      .sponsor_3{
        position: absolute;
        top: 120%;
        right: 0.25%;
        height: 200px;
        width: 350px;
        border-radius: 10px;
        }
  
      .ny_sponsor_3{
        position: absolute;
        top: 145%;
        right: 0.25%;
        height: 200px;
        width: 350px;
        border-radius: 10px;
        background-color: white;
        }
  
      .våra-sponsorer_3{
        color: whitesmoke;
        position: absolute;
        top: 45%;
        left: 82%;
        font-size: 30px;
        font-weight: bold;
        }
  
      .våra-sponsorer_3{
        color: whitesmoke;
        position: absolute;
        top: 48%;
        left: 85%;
        font-size: 30px;
        font-weight: bold;
      }
  
      .våra-sponsorer_3{
        position: absolute;
        top: 40%;
        left: 83%;
        color: white;
        font-weight: bolder;
        font-size: 25px;
      }

      /*=======================================*/







      /*.body-for-contact-card{
        background-image: url(/img/Bild\ på\ matta.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      */
      .header .menu > .menu-item-has-children:hover > .sub-menu{
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }
      .header .menu > .menu-item-has-children:hover > a .plus::after{
        transform: translate(-50%, -50%)rotate(0deg);
      }}
      .header .menu > .menu-item > .sub-menu > .menu-item{
        display: block;
      }
      .header .menu > .menu-item > .sub-menu > .menu-item > a{
        display: block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 600;
        color: black;
        transition: all 0.3s ease;
        text-transform: capitalize;
      }
      .header .open-nav-menu{
        height: 34px;
        width: 40px;
        margin-right: 15px;
        display: none;
        align-items: center;
        justify-content: center;
        cursor: pointer;

}

.header .open-nav-menu span{
    display: block;
    height: 3px;
    width: 24px;
    background-color: black;
    position: relative;
}

.header .open-nav-menu span::before,
.header .open-nav-menu span::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    box-sizing: border-box;
}

.header .open-nav-menu span::before{
    top: -7px;
}
.header .open-nav-menu span::after{
    top: 7px;
}

.header .close-nav-menu{
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    margin: 0 0 15px 15px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}

.header .close-nav-menu img{
    width: 16px;
}

.header .menu-overlay{
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    height:100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.header .menu-overlay.active{
    visibility: visible;
    opacity: 1;

}
/*Home section*/
.home-section{
    width: 100%;
    display: block;
    min-height: 100vh;
}



/*Responsive for mobile*/

@media(max-width: 991px){

    body{
        margin: 0px;
        padding: 0px;
        background-image: url(/img/Bild\ på\ matta.jpg);
        background-position: center;
    }

    
    .namnet-till-brottarskolan{
        display: flex;
        justify-content: center;
    }

    .brottarskolan{
        position: absolute;
        top: 50%;
        left: 23%;
        background-color: white;
        width: 250px;
        height: auto;
        border-radius: 10px;
        font-size: large;
        font-weight: bolder;
    }
    
    .dagar-för-brottarskolan{
        margin: 5px;
    }

    .tider-för-brottarskolan{
        position: absolute;
        top: 25%;
        left: 80%;
    }

    .notering{
        position: absolute;
        top: 150%;
        left: 4%;
        padding-left: 10px;
        padding-right: 10px;
        background-color: white;
        border-radius: 10px;
        height: auto;
        width: 400px;
        font-weight: bold;
        text-decoration: none;
    }

    .loggan{
        height: 100px;
        width: auto;
    }

    h2{
        color: white;
        position: absolute;
        top: 35%;
        left: 30%;
    }

    .card-img{
        position: absolute;
        top: 205%;
        left: 50%;
        transform: translate(-50%, 50%);
        height: 300px;
        border-radius: 15px;
    }

    .bildtext{
        position: absolute;
        top: 250%;
        left: 50%;
        transform: translate(-50%, 50%);
        background-color: white;
        padding: 1px;
        border-radius: 15px;
        height: auto;
        width: 350px;
    }

    .text1{
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, 50%);
        background-color: white;
        border-radius: 5px;
        width: 200px;
    }
    
    .card-img1{
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 50%);
        height: 350px;
        border-radius: 15px;
    }
    
    .bildtext1{
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, 50%);
        background-color: white;
        padding: 5px;
        border-radius: 5px;
        width: 525px;
    }
    
    
    .text2{
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, 50%);
        background-color: white;
        border-radius: 5px;
        width: 200px;
    }
    
    .card-img2{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 50%);
        height: 350px;
        width: auto;
        padding: 5px;
        border-radius: 15px;
    }
    
    .bildtext2{
        position: absolute;
        top: 62%;
        left: 50%;
        transform: translate(-50%, 50%);
        background-color: white;
        padding: 15px;
        border-radius: 15px;
        width: 420px;
    }
    
    
    .text3{
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, 50%);
        background-color: white;
        border-radius: 5px;
        width: 200px;
      }
    
    .card-img3{
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 50%);
        height: 350px;
        width: auto;
        border-radius: 15px;
    }
    
    .bildtext3{
        position: absolute;
        top: 155%;
        left: 50%;
        transform: translate(-50%, 50%);
        background-color: white;
        padding: 5px;
        border-radius: 15px;
        width: 420px;
    }
    
    
    .läs-mer{
        background-color: transparent;
        text-decoration: none;
        color: #2f53a7;
    }

    .Rubriken-till-historiken{
        font-size: large;
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }

    .historik{
        position: absolute;
        top: 22%;
        padding: 15px;
        margin: 12px;
        background-color: white;
        border-radius: 10px;
        text-align: start;
      }

      .idag{
        margin: 1px;
        padding: 10px;
        text-align: start;
      }

      h3{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }

    .kontakta_oss{
        position: absolute;
        top: 280%;
        padding: 10px;
        background-color: white;
        border-radius: 10px;
    }

    .våra-sponsorer_1{
      color: whitesmoke;
      position: absolute;
      top: 320%;
      left: 30%;
      font-size: 20px;
      font-weight: bold;
    }


    .bilder{
        display: none;
    }

    table {
        border-collapse: collapse;
    }
    
    th, td{
        border: 1px solid #ddd;
        text-align: center;
        padding: 4px;
    }
        
    
    .schemat{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 75vh;
        width: 40vw;
        padding: 3px;
        width: 100%;
      }

      .tävlingsgruppens{
        background-color: green;
      }
      
      .mellangruppens{
        background-color: green;
      }
  
      .brottarskolans{
        background-color: green;
      }
      
    th{
        background-color: white;
    }
    
    td{
        color: white;
        font-size: larger;
        font-weight: bold;
    }
      

    /*Fade image in*/
    .images{
        width: 230px;
        height: auto;
        border-radius: 10px;
    }

    .image1{
        width: 230px;
        height: 255px;
        border-radius: 10px;
    }

    .image2{
        width: 230px;
        height: 255px;
        border-radius: 10px;
    }

    .image3{
        background-color: white;
        width: 250px;
        height: 250px;
        border-radius: 10px;
    }

    .box{
        overflow: hidden;
        position: absolute;
        top: 330%;
        left: 100px;
    }

    .slider{
        width: 230px;
        display: flex;
        animation: slide 16s infinite;
    }

    

    @keyframes slide{
        0%{
            transform: translateX(0);
        }
        25%{
            transform: translateX(0);
        }
        /*_____________Första bilden ^___________________*/
        30%{
            transform: translateX(-100%);
        }
        50%{
            transform: translateX(-100%);
        }
        /*______________Andra bilden^________________________________*/
        55%{
            transform: translateX(-200%);
        }
        75%{
            transform: translateX(-200%);
        }
        /*_______________Tredje bilden^__________________________________________*/
        80%{
            transform: translateX(-300%);
        }
        90%{
            transform: translateX(-300%);
        }
        /*_______________Fjärde bilden^_______________________________________________________*/
        95%{
            transform: translateX(-400%);
        }
        100%{
            transform: translateX(-400%);
        }
        /*_______________Femte bilden^______________________________________________________________________*/
    }

    .våra-sponsorer_2{
      position: absolute;
      top: 320%;
      left: 33.5%;
      color: white;
      font-weight: bolder;
    }

    .våra-sponsorer_4{
      position: absolute;
      top: 320%;
      left: 30%;
      color: white;
      font-weight: bolder;
      font-size: 20px;
      font-family: 'Times New Roman', Times, serif;
    }

    .iconen-sbf{
      width: 250px;
      position: absolute;
      top: 50%;
      left: 20%;
      border-radius: 50px;
    }

    .info{
      position: absolute;
      top: 75%;
      left: 4%;
      text-align:center;
      font-size: 20px;
      font-family: 'Times New Roman', Times, serif;
      color: white;
    }


    .body-for-contact-card{
      background-image: url(/img/Bild\ på\ matta.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .contact-info{
      display: flex;
      width: 100%;
      max-width: 1200px;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
    }

    .kort{
      background-color: #333333;
      padding: 0 20px;
      margin: 0 20px;
      width: calc(33% - 20px);
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: purple;
    }

    .card-icon{
      font-size: 28px;
      background: orange;
      width: 60px;
      height: 60px;
      text-align: center;
      line-height: 60px !important;
      border-radius: 50%;
    }

    .kort:hover .card-icon{
      background: none;
      color: greenyellow;
      transform: scale(1.6);
    }

    .kort p{
      margin-top: 10px;
      font-weight: 300;
      letter-spacing: 1px;
      max-height: 0;
      color: white;
    }

    .mail{
      display: flex;
      text-align: center;
    }

    .kort:hover p{
      max-height: 40px;
      opacity: 1;
      color: white;
    }

    /*Frank Andersson på mobile*/
    .bild-på-frank{
      width: 100px;
      height: 100px;
      padding: 10px;
      border-radius: 20px;
    }

    .frank-namn{
      font-size: 10px;
      position: absolute;
      left: 7%;
      font-weight: bold;
    }
    .meritlista-frank{
      position: absolute;
      left: 28%;
      top: 85.5%;
      font-weight: bold;
      font-size: 10px;
    }

    .bronsmedalj-frank{
      width: 20px;
      position: absolute;
      left: 27.5%;
      top: 89.5%;
    }

    .guldmedalj-frank1{
      width: 20px;
      position: absolute;
      top: 93.5%;
      left: 27.5%;
    }

    .guldmedalj-frank2{
      width: 20px;
      position: absolute;
      top: 93.5%;
      left: 32.5%;
    }

    .guldmedalj-frank3{
      width: 20px;
      position: absolute;
      top: 93.5%;
      left: 37.5%;
    }

    .guldmedalj-frank4{
      width: 20px;
      position: absolute;
      top: 97.5%;
      left: 27.5%;
    }

    .guldmedalj-frank5{
      width: 20px;
      position: absolute;
      top: 97.5%;
      left: 32.5%;
    }

    .guldmedalj-frank6{
      width: 20px;
      position: absolute;
      top: 97.5%;
      left: 37.5%;
    }

    .guldmedalj-frank7{
      width: 20px;
      position: absolute;
      top: 97.5%;
      left: 42.5%;
    }

    .silvermedalj-frank1{
      width: 20px;
      position: absolute;
      top: 93.5%;
      left: 42.5%;
    }

    .silvermedalj-frank2{
      width: 20px;
      position: absolute;
      top: 93.5%;
      left: 47.5%;
    }

    .silvermedalj-frank3{
      width: 20px;
      position: absolute;
      top: 97.5%;
      left: 47.5%;
    }

    .silvermedalj-frank4{
      width: 20px;
      position: absolute;
      top: 97.5%;
      left: 52.5%;
    }

    .silvermedalj-frank5{
      width: 20px;
      position: absolute;
      top: 97.5%;
      left: 57.5%;
    }

    .frank-os{
      position: absolute;
      left: 27.5%;
      top: 87.5%;
      font-size: 10px;
      font-weight: bold;
    }

    .frank-vm{
      position: absolute;
      left: 28%;
      top: 92%;
      font-size: 10px;
      font-weight: bold;
    }

    .frank-em{
      position: absolute;
      left: 28%;
      top: 96%;
      font-size: 10px;
      font-weight: bold;
    }

    .header .nav-menu{
        position: fixed;
        right: -280px;
        visibility: hidden;
        width: 280px;
        height: 100%;
        top: 0;
        overflow-y: auto;
        background-color: #222222;
        z-index: 1000;
        padding: 15px 0;
        transition: all 0.5s ease;
    }
    /*=================================================*/
    /*Cardsidorna*/
    /*Larry Grips*/
    .body-for-person1{
      background-color: white;
      width: 120;
      height: 300px;
      position: absolute;
      text-align: start;
      font-weight: bold;
      padding: 10px;
      top: 60%;
      left: 5%;
      margin: 10px;
      border-radius: 10px;
    }

    .larry{
      width: 200px;
      height: 230px;
    }

    .egenskaper1{
      color: #777;
      font-family:'Times New Roman', Times, serif;
    }
    /*=================================================*/
    /*Namiq Binnatovs*/
    .body-for-person4{
      background-color: white;
      width: 220px;
      height: 300px;
      position: absolute;
      text-align: start;
      font-weight: bold;
      padding: 10px;
      top: 60%;
      left: 65%;
      margin: 10px;
      border-radius: 10px;
    }

    .namiq{
      height: 200px;
      width: 200px;
      position: absolute;
      right: 5%;
    }

    .egenskaper4{
      color: #777;
    }
    /*==================================================*/
     /*Patrik Liljas*/
     .body-for-person2{
      background-color: white;
      width: 200px;
      height: 300px;
      position: absolute;
      text-align: start;
      font-weight: bold;
      padding: 10px;
      top: 96%;
      margin: 10px;
      border-radius: 10px;
    }

    .patrik{
      height: 230px;
      width: 200px;
      position: absolute;
      right: 0.25%;
    }

    .egenskaper2{
      color: #777;
    }
    /*===================================================*/
    /*Dillo Abdis*/

    .body-for-person3{
      background-color: white;
      width: 210px;
      height: 300px;
      position: absolute;
      text-align: start;
      font-weight: bold;
      padding: 10px;
      top: 96%;
      left: 53%;
      margin: 10px;
      border-radius: 10px;
    }

    .dillo{
      height: 240px;
      width: 200px;
      position: absolute;
      left: 2%;
    }

    .egenskaper3{
      color: #777;
    }
    /*====================================================*/

    .header .nav-menu.open{
        visibility: visible;
        right: 0px;
    }
    .header .menu > .menu-item {
        display: block;
        margin: 0;
    }

    .header .menu > .menu-item-has-children > a{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .menu > .menu-item > a{
        color: white;
        padding: 12px 15px;
        border-bottom: 1px solid #333333;
    }
    .header .menu > .menu-item:first-child > a{
        border-top: 1px solid #333333;
    }

    .header .menu > .menu-item > a .plus:before,
    .header .menu  > .menu-item > a .plus:after{
        background-color: white;
    }

    .header .menu  > .menu-item-has-children.active > a .plus:after{
        transform: translate(-50%, -50%) rotate(0deg);
    }
   
    .header .menu > .menu-item > .sub-menu{
        width: 100%;
        position: relative;
        opacity: 1;
        visibility: visible;
        border: none;
        background-color: transparent;
        box-shadow: none;
        transform: translateY(0px);
        padding: 0px;
        left: auto;
        top: auto;
        max-height: 0;
        overflow: hidden;
    }
    .header .menu > .menu-item > .sub-menu > .menu-item > a{
        padding: 12px 45px;
        color: #ffffff;
        border-bottom: 1px solid grey;
    }

    .header .close-nav-menu,
    .header .open-nav-menu{
        display: flex;
    }
}

/*Nu börjar koden om själva informationen */



.text{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: white;
    border-radius: 5px;
    width: 200px;    
}

 /*Här börjar css-koden till Calendar*/

 :root {
  --primary-clr: #0039ff;
}

.body-for-calendar {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}
.container_2 {
  position: absolute;
  top: 40%;
  right: auto;
  width: 1150px;
  min-height: 850px;
  margin: 0 auto;
  padding: 5px;
  color: #fff;
  display: flex;
  border-radius: 10px;
  background-color:#090979;
}
.left {
  width: 60%;
  padding: 20px;
}
.calendar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #878895;
  border-radius: 5px;
  background-color: #fff;
}
/* set after behind the main element */
.calendar::before,
.calendar::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 12px;
  height: 97%;
  border-radius: 0 5px 5px 0;
  background-color: #d3d4d6d7;
  transform: translateY(-50%);
}
.calendar::before {
  height: 94%;
  left: calc(100% + 12px);
  background-color: rgb(153, 153, 153);
}
.calendar .month {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}
.calendar .month .prev,
.calendar .month .next {
  cursor: pointer;
}
.calendar .month .prev:hover,
.calendar .month .next:hover {
  color: var(--primary-clr);
}
.calendar .weekdays {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}
.weekdays div {
  width: 14.28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar .days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.calendar .days .day {
  width: 14.28%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary-clr);
  border: 1px solid #f5f5f5;
}
.calendar .days .day:nth-child(7n + 1) {
  border-left: 2px solid #f5f5f5;
}
.calendar .days .day:nth-child(7n) {
  border-right: 2px solid #f5f5f5;
}
.calendar .days .day:nth-child(-n + 7) {
  border-top: 2px solid #f5f5f5;
}
.calendar .days .day:nth-child(n + 29) {
  border-bottom: 2px solid #f5f5f5;
}

.calendar .days .day:not(.prev-date, .next-date):hover {
  color: #fff;
  background-color: var(--primary-clr);
}
.calendar .days .prev-date,
.calendar .days .next-date {
  color: #b3b3b3;
}
.calendar .days .active {
  position: relative;
  font-size: 2rem;
  color: #fff;
  background-color: var(--primary-clr);
}
.calendar .days .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 2px var(--primary-clr);
}
.calendar .days .today {
  font-size: 2rem;
}
.calendar .days .event {
  position: relative;
}
.calendar .days .event::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 75%;
  height: 6px;
  border-radius: 30px;
  transform: translateX(-50%);
  background-color: var(--primary-clr);
}
.calendar .days .day:hover.event::after {
  background-color: #fff;
}
.calendar .days .active.event::after {
  background-color: #fff;
  bottom: 20%;
}
.calendar .days .active.event {
  padding-bottom: 10px;
}
.calendar .goto-today {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 0 20px;
  margin-bottom: 20px;
  color: var(--primary-clr);
}
.calendar .goto-today .goto {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--primary-clr);
}
.calendar .goto-today .goto input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  color: var(--primary-clr);
  border-radius: 5px;
}
.calendar .goto-today button {
  padding: 5px 10px;
  border: 1px solid var(--primary-clr);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: var(--primary-clr);
}
.calendar .goto-today button:hover {
  color: #fff;
  background-color: var(--primary-clr);
}
.calendar .goto-today .goto button {
  border: none;
  border-left: 1px solid var(--primary-clr);
  border-radius: 0;
}
.container_2 .right {
  position: relative;
  width: 40%;
  min-height: 100%;
  padding: 20px 0;
}

.right .today-date {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  padding-left: 70px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.right .today-date .event-day {
  font-size: 2rem;
  font-weight: 500;
}
.right .today-date .event-date {
  font-size: 1rem;
  font-weight: 400;
  color: whitesmoke;
}
.events {
  width: 100%;
  height: 100%;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-left: 4px;
}
.events .event {
  position: relative;
  width: 95%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 0 20px;
  padding-left: 50px;
  color: #fff;
  background: linear-gradient(90deg, #3f4458, transparent);
  cursor: pointer;
}
/* even event */
.events .event:nth-child(even) {
  background: transparent;
}
.events .event:hover {
  background: linear-gradient(90deg, var(--primary-clr), transparent);
}
.events .event .title {
  display: flex;
  align-items: center;
  pointer-events: none;
}
.events .event .title .event-title {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 20px;
}
.events .event i {
  color: var(--primary-clr);
  font-size: 0.5rem;
}
.events .event:hover i {
  color: #fff;
}
.events .event .event-time {
  font-size: 0.8rem;
  font-weight: 400;
  color: #878895;
  margin-left: 15px;
  pointer-events: none;
}
.events .event:hover .event-time {
  color: #fff;
}
/* add tick in event after */
.events .event::after {
  content: "✓";
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 3rem;
  line-height: 1;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  color: var(--primary-clr);
  transform: translateY(-50%);
}
.events .event:hover::after {
  display: flex;
}
.add-event {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #878895;
  border: 2px solid #878895;
  opacity: 0.5;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
.add-event:hover {
  opacity: 1;
}
.add-event i {
  pointer-events: none;
}
.events .no-event {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: #878895;
}
.add-event-wrapper {
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: 90%;
  max-height: 0;
  overflow: hidden;
  border-radius: 5px;
  background-color: #fff;
  transform: translateX(-50%);
  transition: max-height 0.5s ease;
}
.add-event-wrapper.active {
  max-height: 300px;
}
.add-event-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #373c4f;
  border-bottom: 1px solid #f5f5f5;
}
.add-event-header .close {
  font-size: 1.5rem;
  cursor: pointer;
}
.add-event-header .close:hover {
  color: var(--primary-clr);
}
.add-event-header .title {
  font-size: 1.2rem;
  font-weight: 500;
}
.add-event-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}
.add-event-body .add-event-input {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.add-event-body .add-event-input input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #f5f5f5;
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 400;
  color: black;
}
.add-event-body .add-event-input input::placeholder {
  color: black;
}
.add-event-body .add-event-input input:focus {
  border-bottom: 1px solid var(--primary-clr);
}
.add-event-body .add-event-input input:focus::placeholder {
  color: var(--primary-clr);
}
.add-event-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.add-event-footer .add-event-btn {
  height: 40px;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border: none;
  color: #fff;
  background-color: var(--primary-clr);
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid var(--primary-clr);
}
.add-event-footer .add-event-btn:hover {
  background-color: transparent;
  color: var(--primary-clr);
}

/* Media querie for mobile*/

@media screen and (max-width: 991px) {
  .body-for-calendar {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .container_2 {
    height: 100vh;
    flex-direction: column;
    border-radius: 0;
    width: 100vw;
  }
  .container_2 .left {
    width: 100vw;
    height: 100%;
    padding: 20px 0;
  }
  .container_2 .right {
    width: 100vw;
    height: 100%;
    padding: 20px 0;
  }
  .calendar::before,
  .calendar::after {
    top: 100%;
    left: 50%;
    width: 97%;
    height: 12px;
    border-radius: 0 0 5px 5px;
    transform: translateX(-50%);
  }
  .calendar::before {
    width: 94%;
    top: calc(100% + 12px);
  }
  .events {
    padding-bottom: 340px;
  }
  
  .add-event-wrapper {
    bottom: 100px;
  }
}

/*Media querie for Desktop*/
@media screen and (max-width: 992px) {
  .calendar .month {
    height: 75px;
  }
  .calendar .weekdays {
    height: 50px;
  }
  .calendar .days .day {
    height: 40px;
    font-size: 0.8rem;
  }
  .calendar .days .day.active,
  .calendar .days .day.today {
    font-size: 1rem;
  }
  .right .today-date {
    padding: 20px;
  }
}

.vrångö_2{
  position: absolute;
  top: 35%;
  right: 0.5%;
  height: 150px;
  width: auto;
  border-radius: 10px;
}

.spw_2{
  position: absolute;
  top: 53%;
  right: 0.350%;
  height: 200px;
  width: 350px;
  border-radius: 10px;
}

.grip_2{
  position: absolute;
  top: 76.5%;
  right: 0.350%;
  height: 200px;
  width: 350px;
  border-radius: 10px;
}

.sponsor_2{
  position: absolute;
  top: 100%;
  right: 0.350%;
  height: 200px;
  width: 350px;
  border-radius: 10px;
}

.ny_sponsor_2{
  position: absolute;
  top: 123.5%;
  left: 81.5%;
  height: 200px;
  width: 350px;
  border-radius: 10px;
  background-color: white;
}

.våra-sponsorer{
  color: whitesmoke;
  position: absolute;
  top: 40%;
  left: 83%;
  font-size: 25px;
  font-weight: bold;
}

.våra-sponsorer_4{
  position: absolute;
  top: 40%;
  left: 83%;
  color: white;
  font-weight: bold;
  font-size: 25px;
}